@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("http://www.mrwallpaper.com/wallpapers/travel-map-sailing-ship-1920x1080.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Source Code Pro', monospace;

}

.header .page-title {
  font-weight: 300;
  font-size: 100px;
  text-align: center;
  padding: 20%;
  text-transform: uppercase;
  color: #fff;
}
.nav {
  background: #000;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
