doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Home
  body
    .header
      h1.page-title UniShare
    ul.nav
      li: a(href='/sign-up') Sign up
      li: a(href='/sign-in') Sign in
    
