doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title World Wide Web
    ul.nav
      li: a(href='/') Home
      li: a(href='/profile-header') Profile
      li: a(href='/sign-in') Sign in
    
    .main-content
      block content