doctype 
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Settings
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    // link(rel="stylesheet",href="css/bootstrap.min.css")
    // Custom styles for this template
    link(rel='stylesheet', href='/css/sign-in.css')
  body
    hgroup
      h1 UniShare
      h3 Forgot Password
    form
      .group
        input(type='text')
        span.highlight
        span.bar 
        label Enter email
      a.btn.btn-primary(href="#")
        | Reinitialize
        .ripples.buttonRipples
          span.ripplesCircle
      p.forgot
        a(href="#") Don't have an account? Sign up ! 
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/js/sign_in.js')