doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Sign up
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // link(rel="stylesheet",href="css/bootstrap.min.css")
    // Custom styles for this template
    link(href='/css/sign-up.css', rel='stylesheet')
    link(href='/css/bootstrap-tokenfield.css' rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body
    .container
      hgroup
        h1 UniShare
        h3 Sign Up
      br
      br
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        .panel.panel-default
          #headingOne.panel-heading(role='tab')
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') 
                i.short-full.glyphicon.glyphicon-minus
                | Overview
          #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            .panel-body
              .container(style='width:80%;margin:auto;')
                br
                form#contact_form.form-horizontal(action='/register', method='POST',data-toggle="validator")
                  .row
                    .col-md-6
                      .form-group
                        label.col-md-12 First Name
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-user
                            input.form-control(name='username', placeholder='First Name', type='text', required="required")
                      .form-group
                        label.col-md-12 Last Name
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-user
                            input.form-control(name='last_name', placeholder='Last Name', type='text', required="required")
                      .form-group
                        label.col-md-12 Promotion
                        .col-md-12.selectContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-briefcase
                            input.form-control(name='promotion', placeholder='1936 - 20XX', type='text',  required="required")
                      .form-group
                        label.col-md-12 Age
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-time
                            input.form-control(name='age', placeholder='Age', type='number', required="required")
                    .col-md-6 
                      .form-group
                        label.col-md-12 Nationality
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-globe
                            input.form-control(name='nationality', placeholder='Nationality', type='text', required="required")
                      .form-group
                        label.col-md-12 Password
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-lock
                            input.form-control(name='user_password', placeholder='Password', type='password', id="user_password", required="required")
                      .form-group
                        label.col-md-12 Confirm Password
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-lock
                            input.form-control(name='confirm_password', placeholder='Confirm Password', type='password', data-match="#user_password", required="required")
                      .form-group
                        label.col-md-12 E-Mail
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-envelope
                            input.form-control(name='email', placeholder='E-Mail Address', type='text', required="required")
                      // Select Basic
                    .form-group
                      // Button
                      label.col-md-12
                      .col-md-4
                      .col-md-4
                        br
                        input.collapsed(type='submit', value='Submit', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo', id='submit_contact').btn.btn-md.btn-primary
        .panel.panel-default
          #headingTwo.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                i.short-full.glyphicon.glyphicon-plus
                | Details
          #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
            .panel-body
              .container(style='width:80%;margin:auto;')
                br
                form#hobbies_form.form-horizontal(action='/register', method='POST')
                  .row
                    .col-md-12
                      .form-group
                        label.col-md-12 Hobbies
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-tag
                            input.form-control(name='username', value = "Julie", type='text', required="required")
                      .form-group
                        label.col-md-12 Hobbies
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-tag
                            input#tokenfield.form-control(name='hobbies', placeholder='Hobby, Hobby, ...', type='text', required="required")
                      // Text input
                      .form-group
                        label.col-md-12 Bio
                        .col-md-12.inputGroupContainer
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-align-left
                            textarea.form-control(name='bio', placeholder="Introduce yourself ! :)",style="resize:none", rows="5", required="required")
                    .form-group
                      // Button
                      label.col-md-12
                      .col-md-4
                      .col-md-4
                        br
                        input.collapsed(type='submit', value='Submit', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseThree', id='submit_bio').btn.btn-md.btn-primary
        .panel.panel-default
          #headingThree.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                i.short-full.glyphicon.glyphicon-plus
                | Skillset
          #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
              .container(style='width:80%;margin:auto;')
                br
                form#skills_form.form-horizontal(action='/register', method='POST')
                  #items
                    .form-group
                      label.col-md-12 Hobbies
                      .col-md-12.inputGroupContainer
                        .input-group
                          span.input-group-addon
                            i.glyphicon.glyphicon-tag
                          input.form-control(name='username', value = "Julie", type='text', required="required")
                    .form-group
                      .col-md-6
                        .input-group
                          span.input-group-addon
                            i.glyphicon.glyphicon-education
                          input.form-control(name='skills[]', placeholder='Skill', type='text', required="required")
                      .col-md-4
                        .input-group
                          span.input-group-addon
                            i.fa.fa-trophy
                          input.form-control(name='skills[][]', placeholder='Level (0 to 20)', type='text', required="required")
                      button#delete.btn.btn-default.delete(style='width=40px;') Delete
                  // Success message
                  .form-group
                    // Button
                    label.col-md-12
                    .col-md-2
                    .col-md-4
                      br
                      a#add.btn.btn-md.btn-primary 
                        | New Field
                    .col-md-4
                      br
                      input.collapsed(type='submit', value='Submit', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo', id='submit_skills').btn.btn-md.btn-primary
    // container  
    script(src="/js/sign-up.js")
    script(src="/js/bootstrap-tokenfield.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js")


