doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Sign up
    // link(rel="stylesheet",href="css/bootstrap.min.css")
    // Custom styles for this template
    link(href='/css/sign-up.css', rel='stylesheet')
  body
    .container
        hgroup
            h1 UniShare
            h3 Welcome ! - 
                a(href='/') Continue
